.bot-scroll-wrapper {
height: 80px;
border-top: 1px solid #ebebeb;
border-bottom: 1px solid #ebebeb;
overflow: hidden;
margin-bottom: 20px;
}
.next1, .prev1, .bottom-scroll {
  float: left;
}
.prev1 {
  float: right;
  text-align: right;
}
.next1, .prev1 {
  width: 50px;
  height: 52px;
  padding-top: 28px;
}
.next1 {
  width: 68px;
}
.bottom-scroll-item {
  height: 50px;
  margin-top: 15px;
  width: 140px;
}
.blabla {
  height: 50px;           
  width: 140px;
  position: relative;
  text-align: center;
}

.bottom-scroll-pic {
  position: relative;
  top: 0px;
}
.bottom-scroll {
  margin-left: 4px;
}