.detail-page {
    position: relative;
}
.detpicwrap {
    text-align: center;
    padding-bottom: 25px;
}
.download {
    position: absolute;
    right: 10px;
    top: 5px;
    background: url('images/download.png') no-repeat scroll 0 50% transparent;
    padding: 0 0 3px 18px;
}
.news-title {
    display: block;
    padding-right: 80px;
    padding-bottom: 10px;;
    color: #3b338a;
    font-size: 18px;
    font-family: Arial,Helvetica,Garuda,sans-serif;
}
.news-float {
    margin-left: 45px;
}
.news-date {
    width: 30px;
    height: 39px;
    float: left;
    border: 1px solid #ececec;
    border-radius: 5px;
    text-align: center;
}
.day {
    font-size: 20px;
    color: #493eaa;
    font-family: MyriadPro;
    line-height: 24px;
}
.month {
    font-size: 10px;
    color: #3e3e3e;
    font-family: MyriadPro;
    line-height: 12px;
}
