
.catalog-section-quick td{
	padding: 9px 5px;
	border-bottom: 1px solid #ebebeb;
}
.catalog-section-quick tr{
	
}
td.kod {
	width: 110px;
	padding-left: 18px;
	color: #333333;
	font-size: 12px;
	font-family: Arial;
}
td.title {
	width: 410px;
}
td.title a{
	color: #2b208e;
	text-decoration: none;
	border-bottom: 1px dashed #2b208e;
	font-size: 16px;
	font-family: Arial;
}
td.nalichie{
	width: 170px;
}
td.price{
	width: 90px;
	text-align: right;
}
.tablehead td{
	background: #9892de;
	color: #ffffff;
	font-size: 14px;
	font-family: arial;
	height: 40px;
	vertical-align: middle;
	padding-left: 5px; 
	padding-right: 5px;
}
.tablehead td.kod{
padding-left:18px;
}
.tablehead td span{
	color: #ffffff;
	font-size: 14px;
	font-family: arial;
}
td.kolvo{
	width: 155px;
}
.section-element {
	border-bottom: 1px solid #ebebeb;
	padding: 0 0 15px 0;
  /*margin-right: 20px;*/
}
.section-element-main {
	padding-top: 25px;
    padding-left: 20px;
	border-top: 1px solid #ebebeb;
}
.section-element-bottom {
    padding-left: 20px;;
}
.catalog-section-quick .quant {
	padding-left: 50px;
}
.quan-form {
    position: relative;
}
.quan {
	width: 35px;
	height: 18px;
	float: left;
	border: 1px solid #ececec;
  text-align: center;
}
.plus-quick-order, .minus-quick-order{
	cursor: pointer;
	width: 14px;
	height: 18px;
	float: left; 
}
.minus-quick-order{
	background: url("images/minus.png") no-repeat 0 60% transparent;
	margin-right: 8px;
}
.plus-quick-order {
	background: url("images/plus.png") no-repeat 0 90% transparent;
	margin-left: 8px;
}
.buy_button {
	background: url("images/buy.png") no-repeat;
	width: 58px;
	height: 35px;
	border: none;
	position: absolute;
	top: -8px;
	cursor: pointer;
}
span.vnalichii{
	color: #3a3086 !important;
	font-size: 14px;
	padding-left:24px;
	background: url("images/vnalichii.jpg") no-repeat left 4px;
}
span.podzakaz{
	color: #e31f23 !important;
	font-size: 14px;
	padding-left:24px;
	background: url("images/podzakaz.jpg") no-repeat left 4px;
}
