.autorization {
    width: 254px;
    /*    height: 298px;
        border: 1px solid #888888;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 25px 40px;
   /* margin: 0 auto; */
    background: #fff;
}
span, p, div {
    font-size: 12px;
    font-family: Arial,Helvetica,Garuda,sans-serif;
    margin: 0;
    padding: 0;
}
.bx-auth-input {
    width: 234px;
    height: 26px;
    vertical-align: middle;
    border: 1px solid #888 !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 0 8px;
}
.login-title {
    text-align: center;
    font-size: 20px;
    font-family: MyriadPro;
    color: #333333;
    margin-bottom: 20px;
}
.vhod {
    background: url("images/vhod.jpg");
    border: none;
    color: #fff;
    width: 52px;
    height: 34px;
    cursor: pointer;
    margin: 10px 0 10px 97px;
}
.dontforget {
    width: 130px;
    margin: 0 auto;
}
.soc-enter {
    margin: 10px 0 10px 0;
}
.enter-aswho {
    color: #393185;
    text-align: center;
}
.fgt, .fgt a {
    color: #e31e24;
    text-align: center;
}
.remember-me {
    position: relative;
    top: 0px;
    left: 8px;
}
.chetkaCheck {
    width: 11px;
    height: 11px;
    display: inline-block;
    cursor: pointer;
    background: url("/images/checkbox1.png") no-repeat;
    float: left;
    margin-top: 3px;
}
.chetkaCheck input {
    display: none;
}